<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img [src]="preziBranding.img" [alt]="preziBranding.alt" height="40" width="40">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="" class="top-menu">Home</a></li>
      <li><a routerLink="users" class="top-menu">Users</a></li>
      <li><a routerLink="about" class="top-menu">About</a></li>
    </ul>
    <div class="nav navbar-nav navbar-right" *ngIf="loggedInUser !== null">
      <span class="user-info">{{loggedInUser.username}}</span>
      <span class="user-avatar">
        <img [src]="loggedInUser.getFullAvatarUrl()" [alt]="loggedInUser.username">
      </span>
    </div>
  </div>
</nav>
