.loading {
  text-align: center;
  margin-top: 200px;
  font-size: 80px;
}

app-root {
  display: block;
  min-width: 380px;
  overflow-x: scroll;
}

app-header {
  display: block;
}

user-list {
  display: block;
}
