.loading {
  text-align: center;
  margin-top: 200px;
  font-size: 80px;
}

app-root {
  display: block;
  min-width: 380px;
  overflow-x: scroll;
}

app-header {
  display: block;
}

user-list {
  display: block;
}

user-row {
  display: block;
  padding: 15px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
}

user-row:last-child {
  margin-bottom: 0;
}

home, about, not-found {
  display: block;
}
